$pages: one two three four;

body {
  font-family: microsoft YaHei;
}

.porel {
  position: relative;
}
.poabs {
  position: absolute;
}
@mixin po-center($width, $height) {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: - ($width / 2);
  margin-top: - ($height / 2);
}

.slide-page {
  @extend .porel;
  height: 100%;
  overflow: hidden;
}

// 第一张页面显示内容

.page-one {
  background: url("../img/bg/1.jpg") no-repeat 0 0;
  background-size: 100% 100%;
  .pg-title {
    width: 110px;
    height: 600px;
    @include po-center(110px, 600px)
  }
  .text-self {
    font-size: 16px;
    position: absolute;
    right: 50px;
    bottom: 50px;
    color: #fff;
  }
}

//  第二张页面显示内容

.page-two {
  background: #543137 url("../img/bg/2.png") no-repeat 0 0;
  background-size: 100% 100%;
  color: #fff;
  font-size: 20px;
  .item-row {
    position: absolute;
  }
  .item-col-1 {
    padding-right: 30px;
  }
  @for $i from 0 through 3 {
    .item-row-#{$i+1} {
      left: 80px;
      top: 130px + $i * 105px;
    }
  }
}

//  第三张页面显示内容
.page-three {
  background: url("../img/bg/3.jpg") no-repeat 0 0;
  background-size: 100% 100%;
  .title-jiao {
    position: absolute;
  }
}





